*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;

}
header {
  background-color: grey;
  width: 100%;
  line-height: 90px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerList a{
  margin: 10px;
}

h1{
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: currentColor;
  background-color: blue;
  padding: 10px 40px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
main {
  margin: 70px auto;
  width: 1000px;
}

.main {
  display: flex;
  justify-content: space-between;

}

.main div img {
  width: 400px;
  border-radius: 10px;
}


.btn{
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
 
}

.btn a{
  margin-top: 30px;
}

.desc{
  width: 70%;
  margin: 60px auto;
  font-size: 2rem;
  font-style: italic;
  color: rgb(128, 27, 27) ;
}

